*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




    .login-container {
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box {
      max-width: 400px;
      width: 100%;
    }
    .link-cadastro .mb-3{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      
    }

    .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }

  .visible {
    display: block;
  }
