*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




    .login-container {
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box {
      max-width: 400px;
      width: 100%;
    }
    .link-cadastro .mb-3{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      
    }