main{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}

#btn-confirmar{
    margin-top: 60px;
    width: 300px;
    
   
}
#botao-div{
    margin-bottom: 50px;
}

#agenda-label{
    margin-bottom: 20px;
}
.submenu{
    
    display: flex;
    justify-content: end;
    
}
#nome{
    padding-right: 20px;
    font-weight: 800;
    font-size: larger;
}
